.about {
  width: 100%;
  @include flex(center,center);
  padding: 4% 6%;
  
  
  &__image {
    width: 35%;
    @include flex(center,center);
    
    img {
      border-radius: 50%;
      // border: 4px solid rgba(0,0,0, 0.9);
    }
  }
  
  &__desc {
    width: 65%;
    font-size: 1.6rem;
  }
}