.home-section {
  width: 100%;
  height: 55vh;
  background-position: center;
  position: relative;
  @include flex(center,center);
  flex-direction: column;
  color: white;
  padding: 0 6%;
  @include wide-mobile {
    height: 70vh;
  }
  
  &::after {
    @include afterOverlay;
    background-color: rgba(0,0,0, 0.3);
    z-index: 0;
  }
  
  & > * {
    z-index: 1;
    margin: .5% 0;
    text-align: center;
  }
  
  p {
    margin-top: .5%;
  }
  
  h2 {
    font-size: 4rem;
    margin-bottom: 10px;
    @include wide-mobile {
      font-size: 6.5rem;
      margin-bottom: 0;
    }
  }
  
  p {
    font-size: 1.5rem;
    display: none;
    @include wide-mobile {
      display: inline;
      font-size: 1.85rem;
    }
  }
  
  
}

.home-section__family {
  background-image: url("../assets/images/social.jpg");
}

.home-section__buffet {
  background-image: url("../assets/images/brunch.jpg");
}

.home-section__catering {
  background-image: url("../assets/images/catering.jpeg");
}